extends ../layouts/default

append config
	- var pageSub = ''

block content
	//- Load Facebook SDK
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1524485887871920',
				xfbml      : true,
				version    : 'v2.5'
			});
		};
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h2#post-id= data.post.title
					h6#post-sub Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.post
					.fb-like(data-share="true", data-width="450", data-show-faces="true")
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
			//facebook share button
			.text-center
				#fb-root
				a.btn.btn-facebook#fb-post-btn(href='#', onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;") 
					i.fa.fa-facebook.fa-2 &nbsp; Share on Facebook
				//- Twitter Share button
				a.btn.btn-twitter#twtr-post-btn(href='#')
					i.fa.fa-twitter.fa-2 &nbsp; Share on Twitter
				script.
					$(document).ready(function(){
						event.preventDefault();
						
						// Get current URL
						var pathname = window.location;
						
						// Get post title
						var postTitle = $('#post-id').text();
						
						// Create Twitter URL
						var tweeturl = 'https://twitter.com/share?url='+encodeURI(pathname)+'&via=JPZisMe&text='+encodeURI(postTitle);
						
						// Edit link
						$('a.btn.btn-twitter').attr("href", tweeturl)
					});
		//- Subscribe box
		hr
		h3.text-center Like What You See? Subscribe!
		p.text-center
			| Get notified whenever theres a new post along with other useful
			| information sent directly to your inbox. Dope stuff. No spam.
			#mc_embed_signup
				.mc-field-group
					input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Email address required')
					span.asterisk *
			#mce-responses.clear
				#mce-error-response.response(style='display:none')
				#mce-success-response.response(style='display:none')
			div(style='position: absolute; left: -5000px;')
				input.text-left(type='text', name='b_584f8d8c2c7dcb55d63212970_bb4694ca0d', tabindex='-1', value='')
				input#mc-embedded-subscribe.btn.btn-default(type='submit', value='Subscribe', name='subscribe')
		script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
		script(type='text/javascript').
			(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
		// End mc_embed_signup
